:local(.buttonBorder) {
  text-align: center;
  user-select: none;

  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  border-style: solid;
  border-width: 3.2px;
  border-image-source: linear-gradient(104deg, #3023ae, #c86dd7);
  border-image-slice: 1;
  margin: 0.5em;
}

:local(.buttonBorder:hover) {
  cursor: pointer;
}

:local(.buttonText) {
  color: transparent;
  background-image: linear-gradient(104deg, #695fc5, #c86dd7);
  -webkit-background-clip: text;
  font-size: 0.85rem;
  white-space: nowrap;
}
